{% extends 'inicio/base.html' %}
{% load static %}

{% block title %}
Cadastro de Usuário
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block content %}
<div class="container-cadastro">
    <h2>Cadastro de Usuário</h2>

    <div class="mensagens">
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="text-danger">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <form method="POST" class="cadastro-form">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renderiza os campos do formulário automaticamente -->
        <button type="submit" class="btn-cadastro">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}