{% extends 'inicio/base.html' %}
{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container-introducao">
    <div class="texto-inicial">
        <h1>Bem-vindo a Clínica Estética MobStyle</h1>
        <p>Nossa clinica estética oferece um ambiente confortável e moderno para os nossos clientes. 
        Nossa equipe de profissionais altamente qualificada está pronta para cuidar de todos os seus desejos.
        Temos uma clínica voltada principalmente para cuidados masculinos. Além de cuidar de você, nosso espaço
        também possui vários produtos que vale a pena voce conhecer. 
        </p>
    </div>
    <div class="imagem-um">
        <img src="https://www.esteticaeclinica.com.br/clinica/imagens/endereco-de-clinica-de-estetica-masculina.jpg" alt="Imagem de Introdução" style="width: 100%; height: auto;">
    </div>
</div>

{% include 'inicio/partials/anuncio.html' %}

<div class="conteudo-inicial">
    <div class="menu-secundario">
        <button id="home" class="menu-btn" onclick="navegar('promocoes')">Promoções</button>
        <button id="servicos" class="menu-btn" onclick="navegar('servicos')">Serviços</button>
        <button id="profissionais" class="menu-btn" onclick="navegar('profissionais')">Profissionais</button>
        <button id="agenda" class="menu-btn" onclick="navegar('agenda')">Agenda</button>
        <button id="sobre" class="menu-btn" onclick="navegar('produtos')">Produtos</button>
        <button id="contato" class="menu-btn" onclick="navegar('contato')">Contato</button>
    </div>
</div>

<section class="apresentacao">
    <h2>Promoções da semana</h2>
    <div class="container-produto">
        {% for produto in produtos %}
            <div class="produto">
                <img src="{{ produto.imagem_url }}" alt="{{ produto.nome }}">
                <h3>{{ produto.nome }}</h3>
                <p>De <span class="preco-antigo">R$ {{ produto.preco }}</span> por R$ {{ produto.preco_com_desconto|floatformat:2 }}</p>
            </div>
        {% empty %}
            <p>Nenhum produto em promoção no momento.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    function navegar(pagina) {
        window.location.href = `/${pagina}/`;
    }
    setTimeout(function() {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            alert.classList.remove('show');
            alert.classList.add('fade');
        });
    }, 3000);
</script>
{% endblock %}