*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.navbar-custom {
    width: 100%;
    background: linear-gradient(90deg, #bddeef, #c6d9e1);
}


.btn-login {
    background: linear-gradient(90deg, #95989a, #788287);
    color: white;
    border: none;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #587b96 !important;
    transition: 0.3s;
    color: #ffffff;
}


.icon-user {
    width: 20px;
    margin-right: 5px;
}


.search-bar {
    max-width: 350px;
    margin: 10px 10px 10px 0;
}

.container-apresentacao {
    display: flex;
    justify-content: space-between;
    margin: 60px 10px 100px 60px;
}

.texto-inicial {
    width: 50%;
    margin-top: 50px;
    font-size: 24px;
    color: #333;
}
.texto-inicial p {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.container-inicial-profissionais {
    margin-top: 70px;
}

.imagem-um img{
    width: 100%;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 5rem;
}

.container-nossos-profissionais {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: first baseline;
    margin-top: 50px;
}

.container-nossos-profissionais h2{
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.container-nossos-profissionais p{
    font-size: 16px;
    color: #665;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    gap: 10px; 
}

.card{
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff; /* Cor de fundo clara */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* Largura fixa para os cards */
    max-width: 350px;
    flex-grow: 1;
}

.card:hover {
    background-color: #c6d9e1; /* Cor de fundo mais clara ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
    transform: translateY(-2px); /* Leve elevação ao passar o mouse */
    transition: transform 0.3s ease-in-out; /* Transição suave para a elevação */
}

/* Estilo para as imagens dos profissionais */
.card-img-top {
    width: 70%; /* Define a largura */
    height: auto; /* Mantém a proporção */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Garante que a imagem seja tratada como um bloco */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    border: none; /* Remove qualquer borda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}