* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da barra de navegação personalizada */
.navbar-custom {
    width: 100%;
    background: linear-gradient(90deg, #bddeef, #c6d9e1);
}

/* Estilização do botão de login */
.btn-login {
    background: linear-gradient(90deg, #95989a, #788287);
    color: white;
    border: none;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #587b96 !important;
    transition: 0.3s;
    color: #ffffff;
}


.icon-user {
    width: 20px;
    margin-right: 5px;
}


.search-bar {
    max-width: 350px;
    margin: 10px 10px 10px 0;
}

.container-introducao {
    display: flex;
    justify-content: space-between;
    margin: 60px 10px 30px 60px;
}
.texto-inicial {
    width: 50%;
    margin-top: 50px;
    font-size: 24px;
    color: #333;
}
.texto-inicial p {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.conteudo-inicial {
    margin-top: 50px;
}

.imagem-um img{
    width: 100%;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 5rem;
}
.menu-secundario {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 9rem;
}

.menu-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.menu-btn:hover {
    background-color: #2980b9;
}

.apresentacao {
    margin: 90px 10px 50px 60px;
}

.container-apresentacao h2{
    color: #000000;
    font-size: 24px;
    margin-bottom: 40px;
    font-style: italic;
    font-weight: bold;
}

.container-produto {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha */
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    margin-right: 50px;
}

.produto {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: calc(33.33% - 100px); 
    height: auto;
    text-align: center;
}

.produto:hover {
    background-color: #2980b9;  
}
.produto img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.preco-antigo {
    text-decoration: line-through;
    color: red; /* Opcional: deixa o preço antigo mais destacado */
    font-weight: bold;
}

.alert {
    max-width: 500px; /* Define a largura máxima */
    margin: 10px auto; /* Centraliza a mensagem horizontalmente */
    padding: 15px; /* Ajusta o espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}