<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
           
            <div class="col-md-4">
                <h5>Sobre Nós</h5>
                <p>Somos uma clínica estética dedicada ao bem-estar masculino. Oferecemos serviços de alta qualidade para cuidar de você.</p>
            </div>

            
            <div class="col-md-4">
                <h5>Links Úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Serviços</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Promoções</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contato</a></li>
                </ul>
            </div>

            
            <div class="col-md-4">
                <h5>Contato</h5>
                <p>Email: contato@mobstyle.com</p>
                <p>Telefone: (11) 99999-9999</p>
                <div>
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-whatsapp fa-lg"></i></a>
                </div>
            </div>
        </div>

       
        <div class="text-center mt-3">
            <p class="mb-0">&copy; 2024 MobStyle. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>

