<div class="container-menu">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            
            <a class="navbar-brand fw-bold text-white" href="{% url 'index' %}">MobStyle</a>
            
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Sobre</a>
                    </li>
                </ul>
    
                
                <form class="d-flex me-3">
                    <input class="form-control search-bar" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
    
                
                <a href="{% url 'login' %}" class="btn btn-login d-flex align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="User Icon" class="icon-user">
                    Fazer Login
                </a>
            </div>
        </div>
    </nav>